pkgbase = libsecp256k1-zkp-eos
	pkgdesc = Optimized C library for EC operations on curve secp256k1 with support for pedersen commitments and range proofs.
	pkgver = 20150529
	pkgrel = 1
	url = https://github.com/cryptonomex/secp256k1-zkp
	arch = x86_64
	license = MIT
	makedepends = autoconf
	makedepends = automake
	makedepends = git
	makedepends = m4
	makedepends = make
	makedepends = pkg-config
	provides = libsecp256k1
	conflicts = libsecp256k1
	source = libsecp256k1-zkp-eos::git+https://github.com/cryptonomex/secp256k1-zkp
	sha256sums = SKIP

pkgname = libsecp256k1-zkp-eos

